@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #fff;
}

.header__button {
  height: 38px;
  margin-left: 20px;
  width: 70px;
}

.header__content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: 317px;
  height: 38px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .35px;
}

.header__right {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right > span {
  background-color: violet;
  margin-left: 10px;
  padding: 10px;
  height: 28px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  color: #222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 37px;
}

.logo__img {
  margin-right: 13px;
}

.cart {
  margin-right: 26px;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  display: block;
  color: #222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu__link:hover {
  -webkit-transform: scale(0.9) rotate(10deg);
          transform: scale(0.9) rotate(10deg);
  color: white;
  background-color: #222;
}

.menu__list {
  position: relative;
}

.promo {
  background-color: #e8e8e8;
  margin-bottom: 40px;
}

.promo__container {
  height: 613px;
  background-image: url(img/promo_img.jpg);
  background-position: 0 -51px;
  padding-top: 224px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__h2 {
  color: #222222;
  font-family: Lato-Black;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__text {
  width: 485px;
  height: 92px;
  padding-left: 19px;
}

.promo__h3 {
  letter-spacing: 1px;
}

.promo__h3__fashion {
  color: #f16d7f;
}

.product {
  width: 261px;
  position: relative;
  margin-bottom: 39px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.product__box {
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__name {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
}

.product__content {
  padding: 20px 14px;
}

.product__img {
  height: 280px;
  width: 100%;
}

.product__add {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  width: 123px;
  height: 39px;
  line-height: 39px;
  display: none;
  border: 1px solid #fff;
  position: absolute;
  top: 98px;
  left: 70px;
  text-align: center;
}

.product__add:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

.product__adv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__adv__pic {
  height: 529px;
  width: 767px;
  position: relative;
}

.product__adv__text {
  width: 373px;
  height: 529px;
  background-color: #222224;
}

.product__adv__text_1 {
  color: #fbfbfb;
  font-family: Lato-Black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.product__adv__p {
  margin: 0 20px 20px 20px;
}

.product__adv__text_2 {
  color: #fbfbfb;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 10px;
}

.product:hover .product__add {
  display: block;
}

.product:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(0.9) rotate(10deg);
          transform: scale(0.9) rotate(10deg);
  z-index: 1;
}

.product:hover .product__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  padding-top: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__block {
  width: 560px;
}

.content_item {
  height: 261px;
  background-color: #dadad2;
  margin-bottom: 20px;
  position: relative;
  text-align: end;
}

.content_item__big {
  height: 542px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.description {
  display: block;
  position: absolute;
  top: 26px;
  left: 0;
  width: 235px;
  height: 82px;
  background-color: #fff;
  font-family: Lato-Black;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 16px;
}

.pink__text {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: .75px;
}

.black__text {
  letter-spacing: .45px;
}

.caption__text {
  width: 194px;
  height: 23px;
  color: #222;
  font-family: Lato-Black, Serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.caption__text_second {
  width: 348px;
  height: 12px;
  color: #9f9f9f;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: .35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.pink__button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #fff;
  font-family: Lato-Black;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
}

.pink__button__middle {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #fff;
  font-family: Lato-Black;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: .4px;
  text-align: center;
  margin: 0 auto;
}

.drop {
  position: absolute;
  display: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ececec;
  top: 48px;
  padding: 0 0 20px;
}

.drop_last {
  right: 0;
}

.drop_last:before {
  right: 50px;
  left: auto !important;
}

.drop:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 29px;
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .35px;
}

.drop__ul {
  list-style-type: none;
}

.drop__flex {
  width: 235px;
  margin-right: 20px;
  margin-left: 20px;
}

.drop__h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 20px;
  letter-spacing: .35px;
}

.nav {
  background-color: #fff;
}

.header__form,
.header__left,
.header__right,
.logo,
.center__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__adv__text_pic,
.menu__list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.pat {
  display: block;
}

.disription__discount {
  display: block;
  position: absolute;
  top: 146px;
  left: 36px;
  height: 78px;
  width: 310px;
}

.offer__text__num {
  color: #ffffff;
  font-family: Lato-Black;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.offer__text__offer {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.offer__text__down {
  color: #ffffff;
  font-family: Lato-Black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.9px;
}

.footer {
  width: 1618px;
  margin: 55px auto;
}

.footer__end {
  width: 1618px;
  height: 79px;
  background-color: #e6e6e6;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__end__left {
  margin-left: 238px;
  margin-top: 20px;
}

.footer__end__left__text {
  color: #7a7a7a;
  font-family: Lato-Black;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.footer__end__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 270px;
  margin-top: 25px;
}

.footer__top {
  width: 1618px;
  height: 438px;
  background-image: url(img/Subscribe.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top__left {
  margin-left: 230px;
  margin-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
  width: 479px;
}

.footer__top__right {
  margin-right: 385px;
  margin-top: 148px;
  text-align: center;
}

.footer__middle {
  width: 1618px;
  height: 438px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 123px;
  padding-left: 228px;
}

.footer__middle__left {
  width: 427px;
  height: 180px;
}

.footer__middle__left__content {
  color: #898989;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer__middle__left__heading {
  padding-bottom: 30px;
  height: 51px;
}

.footer__middle__left__heading__text {
  color: #f16d7f;
  font-family: Lato-Black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.footer__middle__right {
  padding-left: 63px;
  width: 174px;
}

.submenu {
  list-style-type: none;
}

.link {
  color: #898989;
  font-family: Lato-Black;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
}

.social a {
  text-align: center;
  width: 10px;
  height: 10px;
  font-size: 5px;
  float: left;
  background: #fff;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #b2b2b2;
}

.google-pluse a:hover {
  background: #f16d7f;
  color: #fff;
}

.twitter a:hover {
  background: #f16d7f;
  color: #fff;
}

.facebook a:hover {
  background: #f16d7f;
  color: #fff;
}

.pinterest a:hover {
  background: #f16d7f;
  color: #fff;
}

.linkedin a:hover {
  background: #f16d7f;
  color: #fff;
}

.ftl__text {
  margin-left: 23px;
}

.ftl__text__main {
  color: #222224;
  font-family: Lato-Black;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.ftl__text__top {
  color: #f16d7f;
  font-size: 16px;
  font-family: Lato-Bold;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.ftl__text__bottom {
  color: #222224;
  font-family: Lato-Light;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.ftr__text {
  color: #222224;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.ftr__text__top {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
}

.ftr__text__bottom {
  letter-spacing: 0.35px;
  line-height: 24px;
}

.hf__input {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  border: 0;
  padding-left: 28px;
}

.hf__browse {
  width: 104px;
  height: 48px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  position: absolute;
  margin-left: 282px;
  text-align: center;
  border: 0;
}

.hf__browse__text {
  margin-top: -3px;
  color: #ffffff;
  font-family: Lato-Black;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

.pink__rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.first__part,
.central__part__columns,
.central__part__line,
.central__part__buttons,
.ul,
.central__part__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.li {
  list-style-type: none;
}

.first__part {
  margin: 0 auto;
  width: 1298px;
  height: 79px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f3f4;
}

.first__part__left {
  color: #f16d7f;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.first__part__right {
  color: #636363;
  font-weight: 300;
  font-family: "Lato - Black";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.first__part__right__link {
  color: pink;
}

.central__part__hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.central__part__strings {
  margin: 0 auto;
  width: 1298px;
  color: #222222;
  font-family: "Lato - Black";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.central__part__string__PD {
  width: 270px;
}

.central__part__string__text__h {
  color: #222222;
  font-family: "Lato - Regular";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.central__part__string__text__b {
  font-family: "Lato - Regular";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #575757;
}

.central__part__string__0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  text-transform: uppercase;
}

.central__part__string__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.central__part__string__blockImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.central__part__string__input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
}

.central__part__string__col2 {
  color: #656565;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.central__part__string__col4 {
  color: #656565;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.central__part__string__col5 {
  color: #656565;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.central__part__string__col6 {
  width: 15px;
  height: 15px;
  color: #c0c0c0;
  font-family: "Font Awesome";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.central__part__buttons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1298px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}

.central__part__button {
  display: block;
  text-align: center;
  padding: 15px;
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.end__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1298px;
  margin-top: 50px;
}

.end__part__left {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.end__part__left__text {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  width: 355px;
  height: 45px;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.end__part__left__input {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 20px;
}

.end__part__left__link {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.end__part__left__button {
  width: 118px;
  height: 35px;
  margin-top: 20px;
  padding-left: 18px;
  padding-top: 6px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.end__part__center__heading {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.end__part__center__text {
  margin-top: 20px;
}

.end__part__right {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  text-align: right;
  padding-right: 41px;
}

.end__part__right__top {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 40px;
}

.end__part__right__subtop {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.end__part__right__subtop__part2 {
  color: #f16d7f;
}

.end__part__right__button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 41px;
  float: right;
  padding-top: 15px;
}

.end__part__right__link {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.end__part__right__hr {
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
  margin-top: 30px;
  float: right;
}

.checkout__part {
  margin: 0 auto;
  width: 1298px;
  margin-top: 50px;
}

.chk__Title {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.chk__button__text {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.chk__button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.chk__link {
  padding-top: 15px;
  padding-left: 30px;
}

.chk__input {
  margin-top: 5px;
}

.chk__hr {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 1140px;
  height: 1px;
  background-color: #e8e8e8;
}

.chk__01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

.chk__01__input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chk__01__right {
  margin-left: 250px;
}

.chk__01__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chk__01__textHead {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.chk__01__textBottom {
  color: #b3b2b2;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.red__text {
  color: #ff0d0d;
}
/*# sourceMappingURL=style.css.map */